<!DOCTYPE html>
<div class="col-md-4 col-sm-6 border p-0 offset-md-4 offset-sm-6 my-5">
    <h3 class="text-center bg-info p-2 text-white mb-0">login</h3>
    <form class='p-5 bg-white' action="/login/" method="post">
        {% if message %}
            <div class="alert alert-warning"></div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            {{ login_form.username.label_tag }}
            {{ login_form.username }}
        </div>
        <div class="form-group">
            {{ login_form.password.label_tag }}
            {{ login_form.password }}
        </div>
        <div class="pt-3 pb-5">
            <button type="submit" class="btn btn-primary pull-left mb-5">login</button>
            <a class="btn btn-danger pull-right mb-5" href="/user/register/">register</a>
        </div>
    </form>
</div>